{% extends 'base.html' %}
{% block content %}
<ul class="collapsible popout">
    {% for task in tasks %}
    <li>
        <div class="collapsible-header">
            <form action="#">
                <p>
                    <input type="checkbox" id="test5" />
                    <label for="test5"></label>
                </p>
            </form>
            <div class="col s3 buttons">
                <a href="{{url_for('delete_task', task_id=task._id)}}"
                    class="waves-effect waves-light btn-large btn_small">Done</a>
                <a href="{{url_for('edit_task', task_id=task._id)}}"
                    class="waves-effect waves-light btn btn_small blue">Edit</a>
            </div>
            <div class="task_header col s7">
                <i class="material-icons">expand_more</i>
                <strong>{{task.task_name}}</strong> - {{task.due_date}}
            </div>
        </div>
        <div class="collapsible-body">
            <span>
                <strong>Category: {{task.category_name}}</strong>
                {{task.task_description}}
                {{task.task_is_urgent}}
            </span>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}